html {
    scroll-behavior: smooth;
}

/*!!! Header top !!!*/

.header-top {
    background-color: #fcf7f7;
}

.social:hover {
    color: purple !important;
    background-color: #fcf7f7 !important;
    border-color: purple !important;
}

/*!!! upper header !!!*/

.icon-box {
    padding: 20px;
    border-radius: 50%;
    text-align: center;
    border: 1px solid #5ec5cc;
    color: #5ec5cc;
}

.btn- {
    border: 1px solid #5ec5cc !important;
    color: white !important;
    background-color: #5ec5cc !important;
}

.btn-:hover {
    color: #5ec5cc !important;
    background-color: white !important;
}

/*! nav bar !*/

.nav {
    background-color: #48bdc5 !important;
}

.a:hover {
    color: rgb(223, 117, 117) !important;
}

/*! breadcrums !*/

.breadcrumb {
    background-color: #404444;
    background-image: url(../imgs/background/3.jpg);
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    padding: 3rem !important;
}

.h2 {
    background: transparent;
}

.bread ol {
    background: transparent;
}

.breada:hover {
    color: #48bdc5 !important;
}

/*!  footer  !*/

.footer {
    background-color: #132646;
    color: #ababab;
}

.social-footer {
    background-color: white !important;
    color: #48BDC5 !important;
    border-color: white !important;
    border-radius: 50% !important;
}

.footer-service {
    text-decoration: none;
    color: #ababab;
}

.footer-service:hover {
    color: #888484;
}

.copyright {
    background-color: #0D1A2F;
    color: #AbABAB;
}