html {
    scroll-behavior: smooth;
}

/*!!! Header top !!!*/

.header-top {
    background-color: #fcf7f7;
}

.social:hover {
    color: purple !important;
    background-color: #fcf7f7 !important;
    border-color: purple !important;
}

/*!!! upper header !!!*/

.icon-box {
    padding: 20px;
    border-radius: 50%;
    text-align: center;
    border: 1px solid #5ec5cc;
    color: #5ec5cc;
}

.btn- {
    border: 1px solid #5ec5cc !important;
    color: white !important;
    background-color: #5ec5cc !important;
}

.btn-:hover {
    color: #5ec5cc !important;
    background-color: white !important;
}

/*! nav bar !*/

.nav {
    background-color: #48bdc5 !important;
}

.a:hover {
    color: rgb(223, 117, 117) !important;
}



/*!!!!! slider !!!!!*/

.hero-slider {
    height: 80vh;
}

.hero-slider .slider-item {
    height: 80vh;
    display: flex !important;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.hero-slider .slider-item:focus {
    outline: 0;
}

.hero-slider .slider-item:before {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    content: '';
    top: 0;
    height: 100%;
    width: 100%;
}

.hero-slider .content {
    position: relative;
    z-index: 2;
}

.hero-slider .content.style h2 {
    font-size: 60px;
}

@media (max-width: 767px) {
    .hero-slider .content.style h2 {
        font-size: 30px;
    }
}

.hero-slider .content.style .offer-text {
    letter-spacing: 7px;
    font-size: 15px;
    margin-bottom: 5px;
}

.hero-slider .content.style .tag-text {
    font-size: 20px;
    font-weight: normal;
}

.hero-slider .content.style .btn-main {
    border-radius: 3px;
    padding: 16px 50px;
    font-weight: 700;
}

.hero-slider .content h2 {
    font-size: 35px;
    text-transform: capitalize;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    color: #fff;
}

.hero-slider .content p {
    font-size: 26px;
    color: #fff;
}

.hero-slider .content .btn-white {
    background: transparent;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    border: 1px solid #fff;
    transition: all .3s ease;
}

.hero-slider .content .btn-white:hover {
    background: #fff;
    color: #000;
}

.hero-slider .slick-dots {
    bottom: 20px;
}

.hero-slider .slick-dots li {
    margin: 0 3px;
}

.hero-slider .slick-dots li button:before {
    font-size: 15px;
}

.hero-slider .slick-dots li.slick-active button:before {
    color: #fff;
}

.hero-slider .slick-prev {
    left: 20px;
    z-index: 100;
}

.hero-slider .slick-prev:before {
    content: '\f053';
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
}

.hero-slider .slick-next {
    right: 20px;
    z-index: 100;
}

.hero-slider .slick-next:before {
    content: '\f054';
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
}

.slick-dotted.slick-slider {
    margin-bottom: 0 !important;
}

/*!!  emegency  !!*/
.emegency {
    background-color: #48BDC5;
    color: white;
}

.emegency i {
    font-size: 35px;
    padding-bottom: 20px;
}

.emegency a {
    text-decoration: none;
    color: white;
    padding-bottom: 20px;
    font-size: 20px;
}

.emegency a:hover {
    color: whitesmoke;
}

.emegency p {
    margin-top: 20px;
}

/*!!  24 Hours  !!*/

.hour {
    background-color: #5BC4CB;
    color: white;
}

.hour i {
    font-size: 35px;
    padding-bottom: 20px;
}

.hour a:hover {
    background-color: white;
    color: #5BC4CB !important;
}

/*!!  Working hours  !!*/

.work {
    background-color: #6FCBD1;
    color: white;
}

.work i {
    font-size: 35px;
    padding-bottom: 20px;
}

/*!  Best Features  !*/

.features {
    background-color: #fcf7f7;
}

.text {
    font-weight: 450;
}

.ptext {
    font-weight: 300;
}

/*!  provided services  !*/

.providedservices {
    background-color: #fcf7f7;
}

.providedtext {
    font-weight: 300;
}

/*!  footer  !*/

.footer {
    background-color: #132646;
    color: #ababab;
}

.social-footer {
    background-color: white !important;
    color: #48BDC5 !important;
    border-color: white !important;
    border-radius: 50% !important;
}

.footer-service {
    text-decoration: none;
    color: #ababab;
}

.footer-service:hover {
    color: #888484;
}

.copyright {
    background-color: #0D1A2F;
    color: #AbABAB;
}